html
  include common/app-head.pug
  +head("Welcome to ExpressJS API Example")  
  body
    .min-h-full
      iframe(src='/iframe-content', width='100%', height='200', frameborder='0')
      include common/app-navbar.pug
      +app-navbar()
      div
        header
        main
          //- JWT that identifies this user:
          div(hidden, id="token", data-token=token)
          .max-w-full.mx-auto
            //  Replace with your content 
    include ./common/app-footer.pug
    +footer()
    script(src=asset('javascripts/fetchUserData.js'))
    script.
      $(document).ready (async function(){
        // Fetch the current user or create it if it doesn't exist.
        await createGetUser();
      });
  