doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title Iframe Content
		link(href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css', rel='stylesheet')
	body.bg-gray-100.p-4
		.bg-white.p-4.rounded-md.shadow-md
			label.block.text-sm.font-medium.text-gray-700(for='textInput') Your Text:
			textarea#textInput.mt-1.p-2.w-full.h-16.border.rounded-md
			button#generateBtn(onclick=`submitPrompt()`).mt-2.px-4.py-2.bg-blue-500.text-white.rounded-md.hover_bg-blue-600 Generate
		script(src=asset('javascripts/fetchUserData.js'))
		script.
			$(document).ready (async function(){
				// Do nothing on iframe load.
			});